@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans&display=swap");
@-webkit-keyframes modal {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: 0;
  }
}
@keyframes modal {
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: 0;
  }
}

@-webkit-keyframes loading-animation {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes loading-animation {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes text-reveal {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes text-reveal {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  scroll-behavior: smooth;
  background: #f0f5f9;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

select {
  padding: 0.5em;
  font-size: inherit;
  background: #dee9f2;
  outline: none;
  border: none;
  color: #141414;
  cursor: pointer;
}

form {
  max-width: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

input {
  border: none;
  background: transparent;
  outline: none;
  padding: 0.5em;
  font-size: inherit;
  -webkit-box-shadow: 0em 0.18em 0.12em -0.12em #000;
  box-shadow: 0em 0.18em 0.12em -0.12em #000;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

input:focus {
  -webkit-box-shadow: 0.18em 0.18em 0.18em -0.06em #000,
    -0.12em -0.12em 0.18em -0.06em #000;
  box-shadow: 0.18em 0.18em 0.18em -0.06em #000,
    -0.12em -0.12em 0.18em -0.06em #000;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  place-items: center;
  height: auto;
  /* z-index: 5; */
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
  }
}

nav .nav-desktop-links a {
  padding: 0.5em;
}

nav .nav-desktop-links a:hover {
  -webkit-text-decoration: 0.05em underline #141414;
  text-decoration: 0.05em underline #141414;
  text-underline-offset: 0.3em;
}

@media (max-width: 768px) {
  nav .nav-desktop-links {
    display: none;
  }
}

nav .nav-header-center {
  font-size: 1.8em;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden;
  padding: 0 0.5em;
}

@media (max-width: 1200px) {
  nav .nav-header-center {
    font-size: 1em;
  }
}

nav .nav-header-center::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  -webkit-animation: text-reveal 1.5s ease forwards 1s;
  animation: text-reveal 1.5s ease forwards 1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.burger {
  display: none;
  z-index: 6;
  position: fixed;
  right: 0.8em;
  padding: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  place-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 50px;
  width: 50px;
}

.burger .bar {
  width: 30px;
  height: 2px;
  background: #141414;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.open :nth-child(1) {
  -webkit-transform: translate(0, 6px) rotate(40deg);
  transform: translate(0, 6px) rotate(40deg);
}

.open :nth-child(2) {
  display: none;
}

.open :nth-child(3) {
  -webkit-transform: translate(0, -6px) rotate(-40deg);
  transform: translate(0, -6px) rotate(-40deg);
}

.mobile-nav {
  width: 0%;
  height: 100%;
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  place-items: center;
  z-index: 3;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.mobile-nav a {
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  opacity: 0;
}

.mobile-nav :nth-child(1) {
  -webkit-transform: translateX(-100em);
  transform: translateX(-100em);
}

.mobile-nav :nth-child(2) {
  -webkit-transform: translateX(-100em);
  transform: translateX(-100em);
}

.mobile-nav :nth-child(3) {
  -webkit-transform: translateX(-100em);
  transform: translateX(-100em);
}

.mobile-nav :nth-child(4) {
  -webkit-transform: translateX(-100em);
  transform: translateX(-100em);
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.active :nth-child(1) {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  color: #ddd;
}

.active :nth-child(2) {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  color: #ddd;
}

.active :nth-child(3) {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  color: #ddd;
}

.active :nth-child(4) {
  opacity: 1;
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  color: #ddd;
}

.overflow-hidden {
  overflow: hidden;
}

.loading {
  width: 10em;
  height: 10em;
  margin: 0 auto;
  border: 0.25em solid rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  border-right: 0.25em solid rgba(225, 225, 0, 0.5);
  -webkit-animation: loading-animation 1.5s linear infinite;
  animation: loading-animation 1.5s linear infinite;
}

.gallery-main {
  padding: 3.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2em;
  place-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 15em);
}

.about-main {
  min-height: calc(110vh - 10em);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [1];
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  padding: 3.5em 0.5em;
}

.about-main header {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Marcellus", serif;
  font-size: 2rem;
}

.about-main p {
  max-width: 60ch;
  text-align: center;
  padding: 0 0.5em;
}

.swiper-container {
  width: 90vw;
  height: 100%;
  padding: 1em;
}

li {
  list-style-type: none;
}

@media (max-width: 768px) {
  li img {
    height: 15em;
    margin: 0 auto;
  }
}

.gallery-main__container {
  padding: 0.5em;
  min-height: calc(100vh - 10em);
}

.gallery-main__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 37rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5em;
  place-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0.105em 0.105em 0.5em #000;
  box-shadow: 0.105em 0.105em 0.5em #000;
  -webkit-animation: fade-in 0.5s ease-in-out;
  animation: fade-in 0.5s ease-in-out;
  overflow: scroll;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.gallery-main__article:hover {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

.gallery-main__article header h2 {
  font-family: "Marcellus", serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-size: 1.8em;
  text-align: center;
  padding: 0.25em;
  color: #141414;
}

@media (max-width: 768px) {
  .gallery-main__article header h2 {
    font-size: 1em;
  }
}

.gallery-main__article .artist-info {
  padding: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery-main__article .artist-info :first-child {
  text-align: right;
  font-size: 1.25em;
  font-style: italic;
  font-family: "Marcellus", serif;
  border-bottom: 0.01em solid rgba(0, 0, 0, 0.1);
}

.gallery-main__article .artist-info :last-child {
  text-align: left;
  font-size: 1.2em;
  font-weight: 400;
  font-size: 1em;
}

.gallery-main__article .artist-info p {
  padding: 0.25em;
  text-align: center;
}

.my-favorites-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  place-content: center flex-start;
  min-height: calc(100vh - 10em);
  padding: 3.5em 0.5em;
}

.my-favorites-main header h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01em;
  font-family: "Marcellus", serif;
}

.art-details-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: calc(100vh - 10em);
  padding: 3.5em 0.5em;
}

.art-details-main__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 0.5em;
  place-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5em;
  overflow-x: hidden;
}

.art-details-main__article--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  place-items: center;
}

.add-to-favorites {
  place-self: flex-end;
  padding: 0.5em;
  border: none;
  background: transparent;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.modal {
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: modal 0.25s ease forwards;
  animation: modal 0.25s ease forwards;
  text-decoration: none;
  border-bottom: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 0;
  top: 0;
  left: 100%;
  background: #f0f5f9;
  font-size: 1.25em !important;
  border-bottom: 0;
}

.art-details-main__article-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 60ch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  place-self: flex-start;
  gap: 2em;
  padding: 0.5em;
}

.art-details-main__article-aside h3 {
  font-size: 1.25em;
  color: #141414;
  font-weight: 600;
  font-family: "Marcellus", serif;
}

.art-details-main__article-aside h4 {
  font-size: 1.25em;
  padding: 0.5em 0;
}

.art-details-main__article-aside span {
  color: #30475e;
}

.art-details-main__article-aside p {
  border-bottom: 0.05em solid rgba(0, 0, 0, 0.1);
}

.art-details-main__article-aside .hashtag-cont {
  border-bottom: none;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  place-items: flex-start;
  gap: 0.5em;
}

.art-details-main__article-aside .hashtags {
  background: #fff;
  padding: 0.25em 0.5em;
  border-radius: 9999px;
  color: #ddd;
  background: #303030;
  font-size: 0.9em;
}

.art-details-main__article-aside
  .art-details-main__article-aside--department
  h3 {
  font-size: 1.25em;
  color: #141414;
  font-weight: 600;
  font-family: "Marcellus", serif;
}

footer {
  padding: 0.5em;
}

footer header h2 {
  padding: 0.25em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

footer .attribution h4 {
  font-weight: 400;
  color: #141414;
  padding: 0.25em;
  text-align: center;
}

footer .attribution h4 a {
  -webkit-text-decoration: underline dotted rgba(0, 0, 0, 0.65);
  text-decoration: underline dotted rgba(0, 0, 0, 0.65);
  text-underline-offset: 0.25em;
}

.form-submit {
  padding: 0.5em;
  background: none;
  outline: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
}
